.Footer {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(40, 54, 100, 1) 82%
  );
}

.Footer-main,
.footer-down {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-box {
  padding-top: 5rem;
  text-align: center;
}

.footer-box img {
  width: 20%;
  margin-bottom: 2rem;
}

.footer-item ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.footer-item {
  text-align: center;
}
.footer-item ul li {
  display: flex;
  align-items: center;
}
.footer-item ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 16px;
}
.footer-item ul li a:hover {
  color: #283664;
}
.footer-item ul li a svg{
  margin-right: 10px;
  font-size: 20px;
}

.footer-copyright {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid rgb(209, 209, 209);
  margin-top: 50px;
}

.footer-copyright p a {
  color: white;
  text-decoration: none;
}
.footer-copyright p a:hover {
  color: green;
  text-decoration: none;
}

.footer-copyright p {
  font-size: 14px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .Footer-main,
  .footer-down {
    max-width: 1140px;
  }
}
